<atom-panel id="atombrowser-navbar" class="padded native-key-bindings">
   <!-- Back Button -->
   <button id="atombrowser-btn-back" class="btn">
      <i class="icon icon-chevron-left"></i>
   </button>
   <!-- Back Button -->
   <button id="atombrowser-btn-reload" class="btn">
      <i class="icon icon-sync"></i>
   </button>
   <!-- Live Reload Button -->
   <button id="atombrowser-btn-livereload" class="btn">
      <i class="icon icon-zap"></i>
   </button>

   <!-- Address Bar -->
   <input id="atombrowser-addressbar" class="input-text native-key-bindings" type="text" placeholder="Search, File, Url">

   <!-- Live DevTools Button -->
   <button id="atombrowser-btn-devtools" class="btn">
      <i class="icon icon-settings"></i>
   </button>
   <!-- Live Tabs Button -->
   <button id="atombrowser-btn-tabs" class="btn">
      <i class="icon icon-browser"></i>
   </button>
</atom-panel>
